


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: coral;
}
/* header style */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
background-repeat: no-repeat;
background-position: top left,bottom right;



}

 .section-title{
    font-size:35px ;
    font-weight: bold;
 }
 .section-description{
    font-size: 19px;

 }
 .bg-secondary{
    background-color: #FFF8F3;
 }
 /* about styles */
 .about{
    border-radius: 15px;
     padding: 125px 130px;
     text-align: center;
     margin-top: 130px;
 }
 .item-description{
    font-weight: 700;
 }
.about-items{
    display: flex;
    justify-content: space-around;
}




 /* main styles */
 main{
    max-width: 1140px;
    margin: 0 auto;
   
 }

/* nav style */
nav{
    display: flex;
align-items: center;
justify-content: space-between;
}

.btn-primary{
    background-color: coral;
font-size: x-large;
font-weight: bold;
padding: 18px ;
border-radius: 10px;
border: none;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
     margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
margin: 0 70px 0 230px;

}
.banner-content{
    max-width: 580px;
}
.banner-gritings{
font-size: 25px;
font-weight: 500;
}
.banner-title{
    font-size: 35px;
font-weight: 650;
}
.banner-profile{
    width: 580px;
}